:root {
  --primary-color: rgb(102, 123, 240);
  --secondary-color: #f8f8f8;
  --text-color: #3f5d9e;
  --border-color: #d1d5ec;
  --shadow: rgba(216, 220, 255, 0.479);
  --button-hover-color: rgb(120, 140, 255);
  --pane-color: rgb(248, 248, 255);
}

*{
  font-family: monospace;
  font-weight: 500;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.pdf-pane, .json-pane {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 30px;
  position: relative;
  margin: 2rem;
}

.json-pane {
  background-color: var(--pane-color);
  border: 1px solid var(--border-color);
}

.pdf-pane{
  overflow: hidden;
}

.history-pane{
  width: 400px;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 30px;
  position: relative;
  margin: 2rem;
  background-color: var(--pane-color);
  border: 1px solid var(--border-color);
}

.pdf-button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.pdf-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Syntax highlighter overrides */
pre {
  position: relative;
  margin: 0 !important;
  border-radius: 4px;
  padding: 2rem !important;
  background: #00000000 !important;
}

pre .linenumber{
  color: grey !important;
}

/* Responsive design */
@media (max-width: 1100px) {
  .content {
    flex-direction: column;
  }
  .history-pane{
    min-width: -webkit-fill-available;
    max-height: 300px;
  }
}

.fade-in {
  padding: 0%;
  display: flex;
  position: fixed;
  bottom: 0;
  margin: 0%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top,var(--pane-color),transparent, transparent);
  background-size: 100% 1000%;
  z-index: 10;
  animation: fadeIn 2s ease-in;
  pointer-events: none;
}

@keyframes fadeIn {
  0%{background-position:0% 100%}
  100%{background-position:0% 0%}
}

.pdf-controls {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
}

.page-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  transform: translateY(-50%);
}

.zoom-controls {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.page-number {
  position: absolute;
  bottom: 130px;
  right: 20px;
  background-color: rgba(216, 220, 255, 0.479);
  backdrop-filter: blur(10px);
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  color: #576574;
}

.zoom-level{
  position: absolute;
  bottom: 130px;
  left: 20px;
  background-color: rgba(216, 220, 255, 0.479);
  backdrop-filter: blur(10px);
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  color: #576574;
  pointer-events: auto;
  cursor: pointer;
}

.zoom-level:hover{
  box-shadow: 0 0 20px var(--shadow);
}

.circular-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.1s ease;
  pointer-events: auto;
}

.circular-button:hover {
  color: #ffffff;
}

.circular-button:disabled {
  backdrop-filter: blur(10px);
  background-color: rgba(216, 220, 255, 0.479);
  color: #d8d8d8;
  cursor: not-allowed;
}

.zoom-button {
  width: 40px;
  height: 40px;
  backdrop-filter: blur(10px);
  background-color: rgba(216, 220, 255, 0.479);
  color: var(--button-text-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  cursor: zoom-in;
  transition: background-color 0.3s ease, transform 0.1s ease;
  pointer-events: auto;
  font-size: 18px;
}

.zoom-button:hover {
  box-shadow: 0 0 20px var(--shadow);
}

.loading-container {
  padding: 0%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  mask: linear-gradient(270deg, transparent, transparent,#ffffff, transparent, transparent);
  backdrop-filter: brightness(10);
  mask-size: 200% 200%;
  z-index: 10;
  animation: scanning 2s linear infinite;
}

@keyframes scanning {
  0%{mask-position:-50% 52%}
  100%{mask-position:150% -20%}
}

.status {
  padding: 0%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.status p{
  padding: 1rem;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  color: #435783;
  animation: pulse 0.3s ease-in-out;
}

.react-pdf__Document {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.react-pdf__Page {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-pdf__Page__canvas {
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
}

.selection-container {
  position: sticky;
  top: 0%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  mask: linear-gradient(black, black, black, transparent);
  backdrop-filter: blur(15px) saturate(120%);
  z-index: 1000;
}

.dropdown {
  position: relative;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: flex;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  pointer-events: auto;
}

.dropdown:hover {
 box-shadow: 0 0 20px var(--shadow);
}

.dropdown-container{
  display: flex;
  align-items: center;
}
.dropdown-container p {
  color: black;
  font-size: medium;
}

.selection-container button, .selection-container input[type="file"] {
  padding: 8px 8px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
}
.selection-container button{
  background: var(--primary-color);
  color: var(--secondary-color);
  border: var(--text-color);
  /* margin-left: 8px; */
  border-color: var(--secondary-color);
}

input:hover{
  box-shadow: 0 0 20px var(--shadow);
}

button:hover{
  box-shadow: 0 0 20px var(--shadow);
}

.selection-container input[type="file"] {
  color: var(--text-color);
}

input[type="file"]::file-selector-button {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-weight: 500;
}
.file-list-container{
  padding: 0%;
  margin: 0%;
}
.file-list-selected{
  color: var(--text-color);
  cursor: default !important;
  padding-left: 1rem !important;
  background-color: #e7edff;
  font-weight: bold;
}

.file-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0.8rem 2rem;
  overflow-y: auto;
  cursor: pointer;
}
.file-list:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.file-list:hover .file-size{
  color: var(--secondary-color);
}
.file-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  font-weight: inherit;
  cursor: inherit;
}
.file-size {
  margin: 0;
  color: #666;
  font-size: 10px;
  cursor: default;
}

.hide-history {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.reveal-history {
  position: absolute;
  z-index: 1001;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 0% 50% 50% 0%;
  cursor: pointer;
}

.reveal-history:hover{
  box-shadow: 0 0 20px var(--shadow);
  color: var(--secondary-color);
}
.hide-history:hover {
  box-shadow: 0 0 20px var(--shadow);
  color: var(--secondary-color) !important;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: large;
  font-weight: bold;
}

.linear {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.copied {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeout 3s ;
  opacity: 0;
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.overlap-icons {
  position: relative;
}

.overlap-icons img:last-child {
  position: absolute;
  right: -8px; 
  bottom: -4px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.check-button{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  right: 10px;
  width: 40px;
  height: 40px;
  border:none;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.thumbnail-strip {
  backdrop-filter: blur(15px);
  mask: linear-gradient(to top,black, black, black, transparent);
  position: absolute;
  bottom: 0px;
  display: flex;
  overflow-x: auto !important;
  margin: 0%;
  height: 100px;
  width: 100%;
  padding: 2px;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  z-index: 100;
}

*::-webkit-scrollbar {
  display: none;
}

.thumbnail-strip::-webkit-scrollbar {
  display: block;
}

.thumbnail {
  background-color: white;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  padding: 8px 2px;
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
}

.thumbnail:hover{
  border: 2px solid var(--pane-color);
  box-shadow: 0 0 20px var(--shadow);
}

.thumbnail img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.thumbnail .react-pdf__Document{
  pointer-events: none;
}

.current-page {
  border: 2px solid var(--primary-color);
}

.thumbnail-overlay{
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 8px;
  right: 8px;
  z-index: 1000;
}

.file-selector{
  cursor: pointer;
  font-weight: bold;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fuzzy-results{
  position: fixed;
  top: 8.5rem;
  left: 4rem;
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  z-index: 1200;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 350px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 0 20px var(--shadow);
}

.selection-container input[type="text"]{
  outline: none;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 0.5rem;
}
